{% extends 'layout.html' %}

{% block title %}
<title>Ukulele by Ear - Quiz</title>
{% endblock %}

{% block header %}
<h1>Quiz</h1>
<div class="progress"></div>
{% endblock %}

{% block uniqueToPage %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">WARNING</h5>
      </div>
      <div class="modal-body">
      	Leaving this page will lose all progress on the quiz.<br>Do you want to stay?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="leaveButton">Leave</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Stay</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-8">
		<div class="row">
			<div class="col-2">
				<h2 id="question_num"></h2>
			</div>
			<div class="col-8">
				<h3 class="q-command"> Which chord is played in the sound clip to the right?</h3>
			</div>
		</div>
		<br>
		<section id="options"></section>
		<br>
		<div id="result"></div>
	</div>
	<div class="move-left col-3">
		<img src="https://www.dropbox.com/s/5zxxd4l9lqikocf/ukulele.png?raw=1" class="card-img-top" id="uke" alt="">
		<br><br>
		<section id="curr_audio"></section>
	</div>
</div>

{% endblock %}

{% block scriptToUse %}
<script src="{{ url_for('static', filename='quiz.js') }}"></script>

<script>
	const chords = JSON.parse('{{ chords|tojson }}')
</script>
{% endblock %}